body .container-HUD-button {
	display: block;
	position: fixed;
	width: 100%;
	min-width: 500px;
	height: 0px;
	bottom: 80px;
	z-index: 100;
}

.label {
	width: 320px;
	height: 61px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	text-shadow: 0 0 13px rgba(76, 33, 4, 0.79), 0 0 32px rgba(255, 187, 24, 0.6);
	z-index: 15;
	transition-duration: 0.3s;
	top: 21px;
}

/* line animations */
.label:hover .line-wrapper .line.top {
  width: 238px;
  border-bottom-color: #200e00;
}
.label:hover .line-wrapper .line.top::after {
  width: 256px;
}
.label:hover .line-wrapper .line.bottom {
  width: 198px;
  border-top-color: #200e00;
}
.label:hover .line-wrapper .line.bottom::before {
  width: 224px;
}

/* gradient animations */
.label:hover .chevron-wrapper .chevron.small.left {
  right: 32px;
  box-shadow: -12px -5px 25px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}
.label:hover .chevron-wrapper .chevron.small.left::before {
  box-shadow: -38px 3px 34px 3px rgba(251, 169, 40, 0.8);
}
.label:hover .chevron-wrapper .chevron.small.left::after {
  box-shadow: -72px 1px 46px 2px rgba(204, 91, 7, 0.8);
}
.label:hover .chevron-wrapper .chevron.small.right {
  left: 32px;
  box-shadow: 12px -5px 25px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}
.label:hover .chevron-wrapper .chevron.small.right::before {
  box-shadow: 38px 3px 34px 3px rgba(251, 169, 40, 0.8);
}
.label:hover .chevron-wrapper .chevron.small.right::after {
  box-shadow: 72px 1px 46px 2px rgba(204, 91, 7, 0.8);
}
.label:hover .chevron-wrapper .chevron.fat.left {
  left: 43px;
  box-shadow: 12px 5px 25px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}
.label:hover .chevron-wrapper .chevron.fat.right {
  right: 43px;
  box-shadow: -12px 5px 25px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}
.label:hover .line-wrapper {
  filter: drop-shadow(0 2px 12px rgba(205, 101, 0, 0.66));
}
.label:hover .line-wrapper::before {
  box-shadow: -54px -1px 45px 5px rgba(251, 169, 40, 0.8);
}
.label:hover .line-wrapper::after {
  box-shadow: 54px -1px 45px 5px rgba(251, 169, 40, 0.8);
}
.label:hover .line-wrapper .line.top::before {
  background: #fffef1;
  background: linear-gradient(to right, #fffef1 0%, rgba(224, 132, 0, 0.68) 25%, rgba(201, 77, 0, 0.48) 40%, rgba(201, 77, 0, 0.35) 50%, rgba(201, 77, 0, 0.48) 60%, rgba(224, 132, 0, 0.68) 75%, #fffef1 100%);
}
.label:hover .line-wrapper .line.bottom::after {
  background: #fefaeb;
  background: linear-gradient(to right, #fefaeb 0%, rgba(224, 132, 0, 0.55) 30%, rgba(207, 77, 13, 0.4) 40%, rgba(207, 77, 13, 0.25) 50%, rgba(207, 77, 13, 0.4) 60%, rgba(224, 132, 0, 0.55) 70%, #fefaeb 100%);
}

/* perspective animations */
.label:hover .chevron-wrapper .chevron {
  transition-duration: 0.2s;
  perspective: 1000px;
  transition-delay: 0s;
  background: #fffcd8;
}
.label:hover .line-wrapper .line {
  transition-duration: 0.2s;
  perspective: 1000px;
  transition-delay: 0s;
  opacity: 0.9;
}
.label:hover .line-wrapper .line::before,
.label:hover .line-wrapper .line::after {
  transition-duration: 0.2s;
  perspective: 1000px;
  transition-delay: 0s;
}

.label:active {
  font-size: 25px;
}

.label:active .chevron-wrapper .chevron {
  transition-delay: 0s;
  background: #fffef1;
}

.label:active .chevron-wrapper .chevron.small.left {
  right: 42px;
  box-shadow: -13px -5px 32px 5px rgba(226, 97, 11, 0.9), 0px 0px 13px rgba(226, 97, 11, 0.9);
}

.label:active .chevron-wrapper .chevron.small.left::before {
  box-shadow: -38px 3px 34px 3px rgba(251, 169, 40, 0.75);
}

.label:active .chevron-wrapper .chevron.small.left::after {
  box-shadow: -72px 1px 46px 2px rgba(204, 91, 7, 0.75);
}

.label:active .chevron-wrapper .chevron.small.right {
  left: 42px;
  box-shadow: 13px -5px 32px 5px rgba(226, 97, 11, 0.9), 0px 0px 13px rgba(226, 97, 11, 0.9);
}

.label:active .chevron-wrapper .chevron.small.right::before {
  box-shadow: 38px 3px 34px 3px rgba(251, 169, 40, 0.75);
}

.label:active .chevron-wrapper .chevron.small.right::after {
  box-shadow: 72px 1px 46px 2px rgba(204, 91, 7, 0.75);
}

.label:active .chevron-wrapper .chevron.fat.left {
  left: 53px;
  box-shadow: 13px 5px 32px 5px rgba(226, 97, 11, 0.9), 0px 0px 13px rgba(226, 97, 11, 0.9);
}

.label:active .chevron-wrapper .chevron.fat.right {
  right: 53px;
  box-shadow: -13px 5px 32px 5px rgba(226, 97, 11, 0.9), 0px 0px 13px rgba(226, 97, 11, 0.9);
}

.label:active .line-wrapper {
  filter: drop-shadow(0 2px 12px rgba(205, 101, 0, 0.56));
}

.label:active .line-wrapper::before {
  box-shadow: -50px 1px 77px 1px rgba(251, 169, 40, 0.75);
}

.label:active .line-wrapper::after {
  box-shadow: 50px 1px 77px 1px rgba(251, 169, 40, 0.75);
}

.label:active .line-wrapper .line {
  transition-delay: 0s;
  opacity: 1;
}

.label:active .line-wrapper .line.top {
  width: 218px;
  border-bottom-color: #200e00;
}

.label:active .line-wrapper .line.bottom {
  width: 178px;
  border-top-color: #200e00;
}

.label:active .line-wrapper .line.bottom::before {
  width: 204px;
}

/* button static */
.label .inner {
	position: relative;
	z-index: 20;
	user-select: none;
	cursor: pointer;
}

.label .chevron-wrapper {
  position: absolute;
  z-index: 14;
  transform: translateZ(0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.label .chevron-wrapper .chevron {
  position: absolute;
  background: #e2d691;
  z-index: 15;
}

.label .chevron-wrapper .chevron::before,
.label .chevron-wrapper .chevron::after {
  content: '';
  position: absolute;
  display: block;
  width: 22px;
  background: transparent;
  opacity: 0.5;
}

.label .chevron-wrapper .chevron.left {
  transform: translateZ(0) skew(45deg, 0deg);
}

.label .chevron-wrapper .chevron.right {
  transform: translateZ(0) skew(-45deg, 0deg);
}

.label .chevron-wrapper .chevron.small {
  top: 1px;
  height: 12px;
  transition-duration: 0.2s;
  perspective: 1000px;
}

.label .chevron-wrapper .chevron.small::before,
.label .chevron-wrapper .chevron.small::after {
  height: 10px;
}

.label .chevron-wrapper .chevron.small.left {
  right: 0;
  box-shadow: -9px 0px 26px 2px #e2610b, 0px 0px 10px rgba(226, 97, 11, 0.5);
}

.label .chevron-wrapper .chevron.small.left::before,
.label .chevron-wrapper .chevron.small.left::after {
  right: -17px;
}

.label .chevron-wrapper .chevron.small.left::before {
  box-shadow: -38px 3px 34px 3px rgba(251, 169, 40, 0.66);
}

.label .chevron-wrapper .chevron.small.left::after {
  box-shadow: -72px 1px 46px 2px rgba(204, 91, 7, 0.66);
}

.label .chevron-wrapper .chevron.small.right {
  left: 0;
  box-shadow: 9px 0px 26px 2px #e2610b, 0px 0px 10px rgba(226, 97, 11, 0.5);
}

.label .chevron-wrapper .chevron.small.right::before,
.label .chevron-wrapper .chevron.small.right::after {
  left: -17px;
}

.label .chevron-wrapper .chevron.small.right::before {
  box-shadow: 38px 3px 34px 3px rgba(251, 169, 40, 0.66);
}

.label .chevron-wrapper .chevron.small.right::after {
  box-shadow: 72px 1px 46px 2px rgba(204, 91, 7, 0.66);
}

.label .chevron-wrapper
.chevron.fat {
  top: 13px;
  height: 36px;
  transition-duration: 0.2s;
  perspective: 1000px;
  transition-delay: 0s;
}

.label .chevron-wrapper .chevron.fat::before,
.label .chevron-wrapper .chevron.fat::after {
  height: 22px;
}

.label .chevron-wrapper .chevron.fat.left {
  left: 46px;
  box-shadow: 9px 0px 26px 2px #e2610b, 0px 0px 10px rgba(226, 97, 11, 0.5);
}

.label .chevron-wrapper .chevron.fat.left::before,
.label .chevron-wrapper .chevron.fat.left::after {
  left: -17px;
}

.label .chevron-wrapper .chevron.fat.left::before {
  box-shadow: 42px 9px 44px 5px rgba(251, 169, 40, 0.66);
}

.label .chevron-wrapper .chevron.fat.left::after {
  box-shadow: 79px 2px 36px 0px rgba(204, 91, 7, 0.66);
}

.label .chevron-wrapper .chevron.fat.right {
  right: 46px;
  box-shadow: -9px 0px 26px 2px #e2610b, 0px 0px 10px rgba(226, 97, 11, 0.5);
}

.label .chevron-wrapper .chevron.fat.right::before,
.label .chevron-wrapper .chevron.fat.right::after {
  right: -17px;
}

.label .chevron-wrapper .chevron.fat.right::before {
  box-shadow: -42px 9px 44px 5px rgba(251, 169, 40, 0.66);
}

.label .chevron-wrapper .chevron.fat.right::after {
  box-shadow: -79px 2px 36px 0px rgba(204, 91, 7, 0.66);
}

.label .line-wrapper {
  position: absolute;
  z-index: 13;
  top: 1px;
  height: 61px;
  width: 100%;
  filter: drop-shadow(0 2px 3px rgba(205, 101, 0, 0.25));
}

.label .line-wrapper::before,
.label .line-wrapper::after {
  content: '';
  position: absolute;
  opacity: 0.5;
  display: block;
  width: 32px;
  height: 16px;
  top: 20px;
  background: transparent;
  transition-duration: 0.2s;
  perspective: 1000px;
}

.label .line-wrapper::before {
  box-shadow: -48px 3px 37px 1px rgba(251, 169, 40, 0.66);
  left: 60px;
  transform: skew(45deg);
}

.label .line-wrapper::after {
  box-shadow: 48px 3px 37px 1px rgba(251, 169, 40, 0.66);
  right: 60px;
  transform: skew(-45deg);
}

.label .line-wrapper .line {
  position: relative;
  margin: auto;
  height: 0;
  opacity: 0.66;
}

.label .line-wrapper .line::before,
.label .line-wrapper .line::after {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.label .line-wrapper .line.top {
  width: 300px;
  transition-duration: 0.2s;
  perspective: 1000px;
  border-bottom: 12px solid #060505;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.label .line-wrapper .line.top::before,
.label .line-wrapper .line.top::after {
  transition-duration: 0.2s;
  perspective: 1000px;
}

.label .line-wrapper .line.top::before {
  background: #e08400;
  background: linear-gradient(to right, #e08400 0%, #c94d00 15%, #5c2702 30%, #1b0f00 50%, #5c2702 70%, #c94d00 85%, #e08400 100%);
}

.label .line-wrapper .line.top::after {
  width: 320px;
  top: 12px;
  background: #e08400;
  background: linear-gradient(
    to right, #e08400 0%, rgba(207, 79, 13, 0.65) 10%, rgba(181, 68, 10, 0.3) 20%, rgba(104, 34, 0, 0) 50%, rgba(181, 68, 10, 0.3) 80%, rgba(207, 79, 13, 0.65) 90%, #e08400 100%
  );
}

.label .line-wrapper .line.bottom {
  border-top: 34px solid #060505;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  top: 1px;
  width: 184px;
  transition-duration: 0.2s;
  perspective: 1000px;
  transition-delay: 0s;
}

.label .line-wrapper .line.bottom::before,
.label .line-wrapper .line.bottom::after {
  transition-duration: 0.2s;
  perspective: 1000px;
  transition-delay: 0s;
}

.label .line-wrapper .line.bottom::before {
  top: -11px;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  background: #e08400;
  background: linear-gradient(to right, #e08400 0%, rgba(201, 77, 0, 0.86) 10%, rgba(59, 25, 1, 0.72) 20%, rgba(17, 10, 2, 0.3) 50%, rgba(59, 25, 1, 0.72) 80%, rgba(201, 77, 0, 0.86) 90%, #e08400 100%);
}

.label .line-wrapper .line.bottom::after {
  bottom: 0;
  background: #e08400;
  background: linear-gradient(to right, #e08400 0%, rgba(207, 77, 13, 0.66) 20%, rgba(89, 40, 6, 0.15) 50%, rgba(207, 77, 13, 0.66) 80%, #e08400 100%);
}
.container-HUD-button .inner {
	font: 32px/53px 'Prototype';
	color: #ffefc7;
}

/* chevrons */
.chevron {
	width: 6px;
	background: #42edf8;
}
.chevron.small {
	height: 8px;
	position: relative;
	top: 0;
}
.chevron.fat {
	height: 31px;
	position: relative;
	top: 0;
}
.chevron.left {
	transform: skew(45deg, 0deg);
	box-shadow: 0 0 12px 1px rgba(0, 112, 202, 0.6), 5px -1px 20px 2px rgba(0,112,202,0.6);
}
.chevron.right {
	transform: skew(-45deg, 0deg);
	box-shadow: 0 0 12px 1px rgba(0, 112, 202, 0.6), -5px -1px 20px 2px rgba(0,112,202,0.6);
}
